{% extends 'base.html.twig' %}

{% block title %}Texts{% endblock %}

{% block body %}
    <h1>Как купить</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ text.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ text.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ text.description }}</td>
            </tr>
            <tr>
                <th>SubType</th>
                <td>{{ text.getSubTypeName() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_texts_index_how_buy') }}">back to list</a>

    <a href="{{ path('app_texts_edit_how_buy', {'id': text.id}) }}">edit</a>

    {{ include('howBuy/_delete_form.html.twig') }}
{% endblock %}
