{% extends 'base.html.twig' %}

{% block title %}Пользователь{% endblock %}

{% block body %}
    <h1>Пользователь</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Идентификатор</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ user.dateRegistration ? user.dateRegistration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ user.patronymic }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Роли</th>
                <td>{{ user.roles|join(', ')}}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">Вернуться к списку</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Редактировать</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
