{{ form_start(form) }}
    {{ form_row(form.isPopular) }}
    {% if category.img %}
        <div>
            <img id="delete_category_img" src="{{ category.img }} " alt="Изображение категории" style="max-width: 250px;">
        </div>
    {% endif %}
    {{ form_row(form.img) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
<div hidden>
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}

