{% extends 'base.html.twig' %}

{% block title %}Категория{% endblock %}

{% block body %}
    <h1>Категория</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Идентификатор</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Является популярным</th>
                <td>{{ category.isPopular ? 'Да' : 'Нет' }}</td>
            </tr>
            <tr>
                <th>Изображение</th>
                <td><img src="{{ category.img ?? '' }}" style="max-width: 350px;"/></td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}">Вернуться к списку</a>

    <a href="{{ path('app_categories_edit', {'id': category.id}) }}">Редактировать</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
