{% extends 'base.html.twig' %}

{% block title %}Подкатегория{% endblock %}

{% block body %}
    <h1>Подкатегория</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Идентификатор</th>
                <td>{{ sub_category.id }}</td>
            </tr>
            <tr>
                <th>Изображение</th>
                <td>{{ sub_category.img }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ sub_category.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ sub_category.description }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>{{ sub_category.category.title ?? '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sub_categories_index') }}">Вернуться к списку</a>

    <a href="{{ path('app_sub_categories_edit', {'id': sub_category.id}) }}">Редактировать</a>

    {{ include('sub_categories/_delete_form.html.twig') }}
{% endblock %}
