{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.text) }}
    {% if news.img %}
        <div>
            <img id="delete_news_img" src="{{ news.img }} " alt="Изображение новости" style="max-width: 250px;">
            <input id="delete_news" value="Удалить изображение" class="btn btn-danger font-weight-bold px-7 py-2 my-3"
                   type="button"/>
        </div>
    {% else %}
        {{ form_row(form.img) }}
    {% endif %}
<div hidden>
    {{ form_rest(form) }}
</div>

<button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}

<script>
    function deleteFile(block, name) {
        const blocks = document.getElementById(block)
        if (blocks != null) {
            blocks.addEventListener('click', () => {
                const isOk = confirm('Вы уверены, что хотите удалить изображение?')
                if (isOk) {
                    fetch("{{ path('app_news_delete_files', { 'id': news.id ? : 0 }) }}?name=" + name, {
                        method: 'DELETE',
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });
                    document.getElementById(block).remove()
                    window.location = "{{ path('app_news_edit', { 'id': news.id ?: 0}) }}"
                    location.reload()
                    document.getElementById(block + "_img").remove()
                } else {
                    return false
                }
            })
        }
    }

    let id = {{ news.id ? news.id : "null" }};
    if (id != null) {
        deleteFile("delete_news", "img")
    }


</script>