{{ form_start(form) }}
<tr>
    <th>id product</th>
    <td>{{ product.id }}</td>
</tr>
    {{ form_row(form.keyWords)}}
<button class="btn">{{ button_label|default('Save') }}</button>
<div hidden>
    {{ form_rest(form) }}
</div>

{{ form_end(form) }}
