{{ form_start(form) }}
<tr>
    <th>Идентификатор продукта</th>
    <td>{{ product.id }}</td>
</tr>
    {{ form_row(form.keyWords)}}
<button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
<div hidden>
    {{ form_rest(form) }}
</div>

{{ form_end(form) }}
